@font-face {
  font-family: 'MiSans';
  src: url('../common/assets/font/MiSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 确保字体加载过程中不会阻塞渲染 */
}

@font-face {
  font-family: 'MiSans';
  src: url('../common/assets/font/MiSans.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 因为我们只有一个字体文件，所以暂时使用同一个文件作为正常和粗体样式 */
/* 如果以后有其他变体（如 Bold, Light 等），可以在这里添加更多的 @font-face 规则 */ 